<ion-list style="margin-bottom: 4px;" ng-disabled="">
  <ion-item>
    <ion-label>Spell Checking </ion-label>
    <ion-checkbox [(ngModel)]="spellcheck"></ion-checkbox>
  </ion-item>
  <ion-item-divider>
    Select a mini game
  </ion-item-divider>
  <div radio-group [(ngModel)]="miniGames">
    <ion-item>
      <ion-label>Quiz </ion-label>
      <ion-radio value="quiz"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Improv Story</ion-label>
      <ion-radio value="story"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Last {{wordOrLeter}}</ion-label>
      <ion-radio value="startWithEnd"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>None</ion-label>
      <ion-radio value="nil"></ion-radio>
    </ion-item>
  </div>
  <ion-range min="0" max="{{player?.level}}" step="1" snaps="true" [(ngModel)]="level" color="dark" name="level" [disabled]="!isHost">
    <span range-left small color="dark">Level:</span>
    <span range-right color="dark">{{level}}</span>
    <!-- <ion-icon range-right color="dark" name="arrow-up"></ion-icon> -->
  </ion-range>
  <button ion-button small outline full color="dark" (click)="validate()" icon-start *ngIf="isHost">
    <ion-icon name="color-wand"></ion-icon>
    Validate changes
  </button>
  <button ion-button small outline full color="danger" (click)="clearChatBotHistory()" icon-start *ngIf="isHost">
    <ion-icon name="trash"></ion-icon>
    Clear ChatBot's messages
  </button>
</ion-list>
